/*This file contains standard format features of all three main menus*/

/* id for ul in menu bar */
#bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #b1efff;
    box-shadow: 5px 5px 4px gray;
}

#bar li {
   float: left;
}

#bar li a {
   display: block;
   color: black;
   text-align: center;
   padding: 18px 20px;
   text-decoration: none;
}

#bar li a:hover:not(.active) {
   background-color: #4899ad;
}

/* sets background color for menu bar options when active */
.active {
   background-color: #4899ad;
}

/* id for ul for menu options on game menu */
#games{
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #b1efff;
}

/* sets background color for menu options when active */
.active2{
   background-color: darkorange;
}

/* style for links in main menu options area */
#games li a{
   color: darkorange;
   text-decoration: none;
   padding: 3px;
   border-radius: 10px;
}

#games li{
   padding: 3px;
}

/* Change text background and text color when mouse hovers over it */
#games li a:hover:not(.active) {
   background-color: darkorange;
   color: white;
}

/* Set background color in case anything comes up with the image */
body{
   /* background-color: rgb(194, 253, 194); */
   background: url("menu_image.png");
}

/*Borders for title section on game menu pages*/
.titleBorder{
    border-style: solid;
    border-radius: 10px;
    background-color: #b1efff;
    width: fit-content;
    height: fit-content;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
    box-shadow: 5px 5px 4px gray;
}

/*Borders for the text and game options on the main menu*/
.textBorder{
    border-style: solid;
    border-radius: 10px;
    background-color: #b1efff;
    width: fit-content;
    height: fit-content;
    padding-top: 10px;
    padding-right: 7px;
    padding-bottom: 15px;
    padding-left: 7px;
    box-shadow: 8px 8px 6px gray;
}